<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link type="text/css" rel="stylesheet" href="http://localhost:8000/data_entry.css">
    <script src="https://kit.fontawesome.com/12c93efb8a.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src ="http://localhost:8000/jquery-3.5.1.min.js">

    </script>
    

  </head>
  <body>
    {{{body}}}

  </body>


  </script>

</html>
