<div class="error_div">
  <div>
    <img class="img404" src="/images/not_found.svg">
  </div>

  <div class = "subject_unfound">
    Sorry, that subject  does not exist in the database.
  </div>
  <div style = "margin-top:30px;">
    <a class = "redirection_buttons" href="/share/choose_subject">Add subject</a>
    <a class = "redirection_buttons" href="/">Back home</a>
  </div>

</div>
