<div class="error_div">
  <div>
    <img class="img404" src="/images/not_found.svg">
  </div>

  <div class = "subject_unfound">
    Sorry, that page does not exist
  </div>
  <div style = "margin-top:30px;">
    <a class = "redirection_buttons" href="/subjects">Browse subjects</a>
    <a class = "redirection_buttons" href="/">Back home</a>
  </div>

</div>
