<div style = "text-align:left;width:300px;">

<a href="/"><img style = "height:150px;width:auto"src="/images/logo3.svg"></a>
</div>
<div class="appearing_page" id = "login_page" style = "margin-top:-120px;">


  <div class="form_title">
    Enter your account's username.
  </div>

  {{> errors}}
  {{> success}}


<form action="/user/forgot_password" method="post">


  <div class = "input_1">

    <input name = "username" type="text" class ="form_input_1" id = "username" placeholder= " " spellcheck="false">

    <label for="username" class = "placeholder">Username</label>

  </div>

  <div class="input_3">

    <button type="submit" class="login" id = "login_button" style = "font-size:17px;">Submit</button>

  </div>
</form>
